
name: Checkstyle Example 

on:
  workflow_dispatch:
jobs:
  build:
    name: Checkstyler
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8 
      - name: Run Google Code Analysis Here  
        uses: dbelyaev/action-checkstyle@v0.1.1
        with:
          github_token: ${{ secrets.github_token }}
          # Change reviewdog reporter if you need [github-pr-check, github-check, github-pr-review].
          # reporter: github-check
          # Change reporter level if you need [info,warning,error].
          # GitHub Status Check won't become failure with a warning.
          level: warning
          workdir: /
